# Entornos virtuales
venv/
env/
.env

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Caché de librerías (ej. OSMnx)
cache/

# Archivos temporales (ej. de Whitebox)
tmp/
tmp2/

# Archivos del sistema
.DS_Store
Thumbs.db